.filter-container {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filter-container > div {
  margin: 0.5em 1em;
  min-width: min-content;
}

.react-daterange-picker__wrapper {
  padding: 4px;
  border-radius: 4px;
}

.react-calendar {
  border-radius: 6px;
}

.chart-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.chart-container > div {
  border: 1px solid rgb(133, 124, 124);
  padding: 0.5em;
  border-radius: 6px;
  text-align: center;
}

.chart-container > div h3 {
  margin: 0;
}

@media (max-width: 810px) {
  .chart-container {
    grid-template-columns: 1fr;
  }
}
